/*
 *  Styling for the tpg-get-post plugin
 * all items prefaced with tgp (for tpg-get-posts)
*/
/* styling for posts*/
/* wrapper for all posts pulled by shortcode */
#tpg-get-posts{clear:both;}

/* wrapper for individual post */
.tpg-get-posts-post{clear:both;}
/* class for title*/
.tpg-title-class{
	margin-top:1em !important; 
}
/* class of by-line*/
.tpg-byline-class {
	margin-left:1em;
	font-size:small;
}

/* class for content*/
.tpg-get-posts-thumbnail{clear:both;}
.tpg-content-class{}
.tpg-thumbnail-class{}
.tpg--excerpt-class{clear:both;}
/* class for metadata*/
.tpg-metadata-class {
	margin-left:2em;
	font-size:x-small;
}
.tpg-ul-class {}
/*class for <hr> after list */
.tpg-get-post-li-hr {display:none}